.container {
    max-width: 375px;
    position: relative;
    margin: 0 auto;
}

.infoContainer {
    display: flex;
    justify-content: space-between;
    padding: 2px 16px;

    p {
        margin: 0;
    }

    .capitalInfo {
        p {
            color: var(--primary);
            font-size: 12px;
        }
        p:last-child {
            text-transform: uppercase;
            color: var(--secondary);
            font-size: 35px;
        }
    }

    .coinsContainer {
        margin-top: 18px;
        align-items: start;
        justify-content: center;
        display: flex;
        gap: 4px;
        flex-direction: column;

        p {
            color: var(--primary);
            font-weight: bold;
            font-size: 12px;
            width: 128px;
            justify-content: space-between;
            display: flex;
            align-items: center;

            b {
                color: var(--secondary);
                margin: 0 8px;
            }
        }
    }
}

.buttonContainer {
    p {
        margin: 0;
    }
    color: var(--primary);
    font-weight: bold;
    align-items: center;
    padding: 4px 16px;
    display: flex;
    font-size: 12px;
    justify-content: space-between;

    button {
        transition: .3s ease;
        font-size: 12px;
        padding: 0;
        color: var(--primary);
        border-radius: 24px;
        height: 26px;
        width: 64px;
        background: var(--bg-color);
        border: 1px solid var(--card-color);
    }

    button:hover {
        color: var(--secondary);
        border: 1px solid var(--secondary);
    }

    button.active {
        font-weight: bold;
        color: var(--secondary);
        border: 1px solid var(--secondary);
    }
}