.botsContainer {
    padding: 8px 16px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    flex-wrap: wrap;
    gap: 1px
}

.botItem {
    padding: 8px 4px;
    border-radius: 2px;
    font-size: 10px;
    font-weight: bold;
    background: var(--card-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
        margin: 0;
        width: 56px;
        text-align: center;
    }

    img {
        margin-top: 8px;
        width: 40%;
        margin-bottom: 8px;
    }
}