.footerNav {
    justify-content: center;
    padding: 0 12px 8px 12px;
    position: absolute;
    bottom: 0;
    display: flex;
    width: calc(100% - 24px);
    height: 55px;
    gap: 31px;
    background: var(--nav-color);

    div:hover {
        color: var(--secondary);
        svg:not(.iconStroke) {
            fill: var(--secondary);
        }
        .iconStroke {
            stroke: var(--secondary);
        }
    }

    div {
        color: var(--primary);
        transition: .3s ease;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 4px;

        svg {
            transition: .3s ease;
            width: 28px;
            height: 28px;
        }

        svg:not(.iconStroke) {
            fill: var(--primary);
        }
        .iconStroke {
            stroke: var(--primary);
        }

    }
    div.active {
        color: var(--secondary);
        svg {
            fill: var(--secondary);
        }
    }
}